/* Center container */
.form-conatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    padding: 16px;
    background: #f4f6f8;
}

/* Card */
.form {
    width: 100%;
    max-width: 420px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

/* Header */
.form-header {
    padding: 30px 0px 10px 0px;
    text-align: center;
}

.form-header h1 {
    font-size: 1.5rem;
    margin: 0;
    color: #03d3fc;
}

/* Body */
.form-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}



/* Inputs inside children */
.form-body input,
.form-body select,
.form-body textarea {
    width: 100%;
    padding: 10px 12px;
    font-size: 0.95rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.form-body input:focus,
.form-body select:focus,
.form-body textarea:focus {
    outline: none;
    border-color: #2563eb;
}

/* Mobile adjustments */
@media (max-width: 480px) {
    .form {
        border-radius: 8px;
    }

    .form-header h1 {
        font-size: 1.3rem;
    }


}


.eye-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
}

.password-input-container{
    position: relative;
    width: 100%;
}

.forgot-password{
    text-align: right;
    margin-top: 12px;
    font-size: 0.9rem;
    color: #2563eb;
    cursor: pointer;
}

.error-message{
    color: red;
    font-size: 0.9rem;
    text-align: center;
}